<a href="https://colab.research.google.com/github/leehj112/Data-Analyses/blob/master/colab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd



# list -> Series로 변환
# pd.Series
it = [4.1, 5.5, 9.0, 15.0, 19.0, 21.3]
slt = pd.Series(it)
print(slt)
print(type(slt))

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64
<class 'pandas.core.series.Series'>

In [3]:
print(slt[2])

9.0

In [4]:
# 리스트를 변경한 series, index, values

print('index:' , slt.index)
print('index:', slt.keys())
print('value:', slt.values)

index: RangeIndex(start=0, stop=6, step=1)
index: RangeIndex(start=0, stop=6, step=1)
value: [ 4.1  5.5  9.  15.  19.  21.3]

In [5]:
# 딕셔너리를 시리즈로 변경
# dataframe -> series

dt = {'1월':4.1, '2월':5.5,'3월':9.0,'4월':15.0,'5월':19.0,'6월':21.3}
sdt = pd.Series(dt)
print(sdt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [6]:
# 딕셔너리를 변경한 series index, values
print('index:', sdt.index)
print('index:', sdt.keys())
print('value:', sdt.values)

index: Index(['1월', '2월', '3월', '4월', '5월', '6월'], dtype='object')
index: Index(['1월', '2월', '3월', '4월', '5월', '6월'], dtype='object')
value: [ 4.1  5.5  9.  15.  19.  21.3]

In [7]:
sdt['3월']

9.0

In [8]:
# 시리즈, 인덱스 변경
ltk = ['1월','2월','3월','4월','5월','6월']
lt = [4.1,5.5,9.0,15.0,19.0,21.3]

slt = pd.Series(lt, index=ltk)
print(slt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [9]:
slt = pd.Series(lt)
print(slt)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

In [10]:
slt.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
slt.index = ltk
print(slt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [12]:
ltk = ['1월','2월','3월','4월','5월','6월']
lt = [4.1, 5.5, 9.0, 15.0, 19.0, 21.3]
slt = pd.Series(lt)
slt2 = pd.Series(lt, index=ltk)
print(slt)
print(slt2)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64
1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [13]:
slt[2]

9.0

In [14]:
slt2['3월']

9.0

In [15]:
sub = slt[1:3]
print(sub)

1    5.5
2    9.0
dtype: float64

In [16]:
sub2 = slt2['2월':'3월']
print(sub2)

2월    5.5
3월    9.0
dtype: float64

In [17]:
sub1 = slt[1:3]
print(sub1)

1    5.5
2    9.0
dtype: float64

In [18]:
sub2 = slt2['1월':'3월']
print(sub2)

1월    4.1
2월    5.5
3월    9.0
dtype: float64

In [19]:
sub1_1 = slt[[1,3,5]]
print(sub1_1)

1     5.5
3    15.0
5    21.3
dtype: float64

In [20]:
sub2_1 = slt2[['2월','4월','6월']]
print(sub2_1)

2월     5.5
4월    15.0
6월    21.3
dtype: float64

In [21]:
# 조건사용
print(slt)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

In [22]:
slt > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [23]:
slt[slt > 10]

3    15.0
4    19.0
5    21.3
dtype: float64

In [24]:
slt[slt. values > 10]

3    15.0
4    19.0
5    21.3
dtype: float64

In [25]:
slt[slt. index >= 3]

3    15.0
4    19.0
5    21.3
dtype: float64

In [26]:
# 시리즈 연산
# 시리즈 길이가 같고 인덱스가 같은 것끼리 연산
print(slt)
print(slt2)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64
1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [27]:
print(slt + slt2)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
1월   NaN
2월   NaN
3월   NaN
4월   NaN
5월   NaN
6월   NaN
dtype: float64

In [28]:
slt.index = slt2.index
print(slt)
print(slt2)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64
1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [29]:
  print(slt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [30]:
slt.head(2)

1월    4.1
2월    5.5
dtype: float64

In [31]:
slt.tail(2)

5월    19.0
6월    21.3
dtype: float64

In [32]:
slt.describe()

count     6.000000
mean     12.316667
std       7.177024
min       4.100000
25%       6.375000
50%      12.000000
75%      18.000000
max      21.300000
dtype: float64

In [33]:
slt.mean()

12.316666666666668

In [34]:
dt = {'1월':4.1, '2월':5.5, '3월':9.0, '4월':15.0, '5월': 19.0, '6월':21.3}
sdt1 = pd.Series(dt)
sdt2 = pd.Series(dt.values())

In [35]:
print(['시리즈1'])
print(sdt1)
print(['시리즈2'])
print(sdt2)

['시리즈1']
1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64
['시리즈2']
0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

In [36]:
print('비교', sdt1.equals(sdt2))

비교 False

In [37]:
print('변경:')
sdt1 = sdt1.replace(5.5, 15)
print(sdt1)

변경:
1월     4.1
2월    15.0
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [38]:
sdt1 = sdt1.replace(15, 15.5)
print(sdt1)

1월     4.1
2월    15.5
3월     9.0
4월    15.5
5월    19.0
6월    21.3
dtype: float64

In [39]:
print('포함')
print(sdt1[sdt1.isin([15.5, 19])])

포함
2월    15.5
4월    15.5
5월    19.0
dtype: float64

In [40]:
print('중복제거:')
print(sdt1.drop_duplicates())
print('중복제거반영확인')
sdt1 = sdt1.drop_duplicates()
print(sdt1)

중복제거:
1월     4.1
2월    15.5
3월     9.0
5월    19.0
6월    21.3
dtype: float64
중복제거반영확인
1월     4.1
2월    15.5
3월     9.0
5월    19.0
6월    21.3
dtype: float64

In [41]:
print('정렬(값):')
print(sdt1.sort_values(ascending=False))
print('정렬(인덱스):')
print(sdt1.sort_index(ascending=False))

정렬(값):
6월    21.3
5월    19.0
2월    15.5
3월     9.0
1월     4.1
dtype: float64
정렬(인덱스):
6월    21.3
5월    19.0
3월     9.0
2월    15.5
1월     4.1
dtype: float64

pandas.core.series.Series